body {
  background-color: #282c34 !important;
  color: white !important;
}

.App {
  text-align: left;
}

.itemRow {
  margin: 10px 10px;
}

.modalBody {
  background-color: #4d5463;
}

.navbarMenu {
  background-color: #2f343e !important;
  margin-bottom: 20px;
}